body{
    display: flex;
    justify-content: center;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  
#root{
    font-size: 24px;
    color:#999;
    text-align: center;
    font-weight: lighter;
}

#root h1{
    color: #2086d7;
    font-size:48px;
    font-weight: lighter;
}