<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    <div id="root">
        <h1>Hello, <span>EasyPack!</span></h1>
        <p>有更赞的点子，来EasyPack讨论群聊聊吧</p>
        <img src="./assets/img/qqgroup.png" alt="" />
    </div>
    {{> footer}}
</body>
</html>