html{
    background: #2086d7;
}
body{
    width:350px;
    height:760px;
    float:left;
    background: #eee;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:0;
    margin: 0;
}
.mt5{
    margin-top:5px;
}
.wrap{
    /* background: #fff;
    padding: 0 15px; */
}
.carding{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    padding: 15px;
    overflow: hidden;
}
.carding.pad10{
    padding:10px 15px;
}
label, input{
    font-weight: lighter;
}
input{
    border: 0;
    border-bottom: 1px solid #ddd;
    text-indent: 5px;
    color:#333;
    outline: none;
    font-style: italic;
}
input[type="text"]{
    width: 240px;
}
input[type="text"].short{
    width:200px;
}
h4{
    margin-top: 0;
    font-weight: lighter;
}
p.describe{
    font-weight: lighter;
    margin-bottom:0;
    margin-top:3px;
}
.redStar{ color: red;}

/* title */
.title{
    position: relative;
    cursor:pointer;
    margin-bottom: 3px;
    background: #2086d7;
    color: #fff;
}
.title h1{
    margin:0;
    padding: 18px 20px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.title a {
    display: none;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top: -12px;
}
.title:hover a {
    display: block;
}
.title a img{
    width: 24px;
    height: 24px;
}

/* checkbox */
.checkbox-inline{
    margin-right: 15px;
    margin-left: 0px;
    font-weight: lighter;
    color: #333;
    font-style: italic;
}
.checkbox-inline + .checkbox-inline{
    margin-left:0;
}
.radio-inline, .checkbox-inline{
    padding-left: 15px;
}
.checkbox-inline input[type="checkbox"]{
    margin-left: -15px;
}

.label-tit{
    width: 65px;
}
.label-tit.label-wide{
    width: 90px;
}
.readme{
    display: block;
    margin-top:5px;
    font-weight: lighter;
}

#submit{
    float:left;
    width: 40px;
    text-align: center;
    height: 40px;
    text-indent: 0;
    border-radius: 60px;
    color: #fff;
    background: #2086d7;
}

#reply{
    float:left;
    height:40px;
    line-height: 40px;
    font-weight:lighter;
    margin-left: 5px;
}
