html{
    background: #2086d7;
}
body{
    width:350px;
    height:778px;
    float:left;
    background: #eee;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:0;
    margin: 0;
}
.mt5{
    margin-top:5px;
}
.hide{
    display: none;
}

.nav-tabs > li > a{
    padding: 5px 10px;
    font-weight: 200;
    letter-spacing: 0.5px;
}
.switch{
    height:138px;
}

#tabWrap li{
    cursor: pointer;
}

.wrap{
    /* background: #fff;
    padding: 0 15px; */
}
.carding{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    padding: 15px;
    overflow: hidden;
}
.carding.pad10{
    padding:5px 15px;
}

.carding.create-card{
    background: #2086d7;
}

label, input{
    font-weight: lighter;
}
input{
    border: 0;
    border-bottom: 1px solid #ddd;
    text-indent: 5px;
    color:#333;
    outline: none;
    font-style: italic;
}
input[type="text"]{
    width: 240px;
    letter-spacing: 0.5px;
}
input[type="text"].short{
    width:200px;
}
input[type="text"]:disabled{
    background: rgb(229, 229, 229);
    color: rgb(229,229,229);
}
h4{
    margin-top: 0;
    font-weight: lighter;
}
p.describe{
    font-weight: lighter;
    margin-bottom:0;
    margin-top:3px;
}
.redStar{ color: red;}

/* title */
.title{
    cursor: default;
    position: relative;
    margin-bottom: 3px;
    background: #2086d7;
    color: #fff;
    
}
.title h1{
    position: relative;
    margin:0;
    padding: 12px 20px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.title h1.cursor{
    cursor: pointer;
}
.title h1 span{
    display: none;
    position: absolute;
    color: #fff;
    right:116px;
    top:5px;
    height:18px;
    width:18px;
    line-height: 16px;
    font-size:12px;
    border-radius: 9px;
    /* padding:0 5px; */
    background-color: red;
    border: 1px solid #2086d7;

}
.title .github, .title .qq{
    cursor: pointer;
}
.title a {
    transition:opacity 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top: -12px;
}
.title .qq{
    transition:opacity 1s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left:5px;
    top: 50%;
    margin-top: -12px;   
}
.title:hover a,.title:hover .qq {
    visibility: visible;
    opacity: 1;
    display: block;
}
.title img.icon{
    width: 24px;
    height: 24px;
}
.title:hover .qq .qqgroup{
    position: absolute;
    z-index:9;
    transition:opacity .5s;
    visibility: hidden;
    opacity: 0;
    left:0;
    top: 24px;
}
.title:hover .qq .qqgroup img{
    width:200px;
}
.title:hover .qq:hover .qqgroup{
    visibility: visible;
    opacity: 1;
}


/* checkbox */
.checkbox-inline{
    margin-right: 15px;
    margin-left: 0px;
    font-weight: lighter;
    color: #333;
    font-style: italic;
}
.checkbox-inline + .checkbox-inline{
    margin-left:0;
}
.radio-inline, .checkbox-inline{
    padding-left: 15px;
    letter-spacing: 0.5px;
}
.checkbox-inline input[type="checkbox"]{
    margin-left: -15px;
}

.label-tit{
    width: 65px;
}
.label-tit.label-wide{
    width: 90px;
}
.readme{
    display: block;
    margin-top:5px;
    font-weight: lighter;
}

/* #submit{
    float:left;
    width: 40px;
    text-align: center;
    height: 40px;
    text-indent: 0;
    border-radius: 60px;
    color: #fff;
    background: #2086d7;
} */
#submit{
    float: left;
    width: 50px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    font-weight:lighter;
    cursor:pointer;
    transition: all 0.5s;
}
#submit:hover{
    background: #fff;
    color: #2086d7;
}

/* #submit:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

#reply{
    float:left;
    height:40px;
    line-height: 40px;
    font-weight:lighter;
    margin-left: 5px;
    color: #fff;
    margin-left: 20px;
}


/* loading */
#loading{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 310px;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: center;
}
.hide{
    display: none;
}
.show{
    display: block;
}

@-webkit-keyframes line-scale-pulse-out-rapid {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    80% {
      -webkit-transform: scaley(0.3);
              transform: scaley(0.3); }
    90% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  
  @keyframes line-scale-pulse-out-rapid {
    0% {
      -webkit-transform: scaley(1);
              transform: scaley(1); }
    80% {
      -webkit-transform: scaley(0.3);
              transform: scaley(0.3); }
    90% {
      -webkit-transform: scaley(1);
              transform: scaley(1); } }
  
  .line-scale-pulse-out-rapid > div {
    background-color: #fff;
    width: 1px;
    height: 24px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
            animation: line-scale-pulse-out-rapid 0.9s -0.5s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78); }
    .line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
      -webkit-animation-delay: -0.25s !important;
              animation-delay: -0.25s !important; }
    .line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
      -webkit-animation-delay: 0s !important;
              animation-delay: 0s !important; }
  


/* gulp wrap */
.wrap_active{
    display: block;
    /* display: none; */
}
.wrap_hide{
    display: none;
    /* display: block; */
}
#gulpSubmit{
    float: left;
    width: 50px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    margin-top: 5px;
    font-weight:lighter;
    cursor:pointer;
    transition: all 0.5s;
}
#gulpSubmit:hover{
    background: #fff;
    color: #2086d7;
}

#gulpReply{
    float:left;
    height:40px;
    line-height: 40px;
    font-weight:lighter;
    margin-left: 5px;
    color: #fff;
    margin-left: 20px;
}

/* loading */
#gulpLoading{
    margin-top: 6px;
    margin-bottom: 6px;
    width: 310px;
    padding-left: 40px;
    box-sizing: border-box;
    text-align: center;
}